@use '/style-modules/header.scss';
@use '/media-modules/main-media.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SuisseIntl-Regular";
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.wrap {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

 ::-webkit-scrollbar{
    display: none;
 }

.start_inf{
    margin-top: 70px;
    display: flex;
    gap: 100px;
    align-items: start;
    .rent h2{

        font-size: 24px;
        font-weight: 400;
        color: rgba(71, 71, 71, 1);
    }
    .adv{
        h1{
            font-size: 48px;
            font-weight: 600;
            // line-height: 52.8px;
            // letter-spacing: -0.05em;
        }
        .footer{
            display: flex;
            align-items: center;
            gap: 70px;
            margin-top: 20px;
            .right{
                display: flex;
                align-items: center;
                gap: 30px;
                .catalog{
                 
                    padding: 10px 30px 10px 30px;
                    border-radius: 50px;
                    color: white;
                    font-family: Gilroy;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                    letter-spacing: -0.011em;
                    background-color: black;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-family: Gilroy;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 21px;
                    letter-spacing: -0.011em;
                    text-align: center;
                }
            }
            .left{
                display: flex;
                align-items: center;
                gap: 15px;
                p{
                    width: 336px;
                    height: 56px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: left;
                    color: rgba(71, 71, 71, 1);
                    span{
                        color: black;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19.2px;
                        text-align: left;
                        }
                } 
                    
            }
            h2{
                sup{
                font-size: 36px;
                font-weight: 400;
                line-height: 30px;
                }
                font-size: 96px;
                font-weight: 400;
                line-height: 70px;
            }
        }
    }
}

.car_find {
    margin-top: 50px;
    // margin: 0 auto;
    // max-width: 1440px;
    width: 100%;
    position: relative;

    .search_car_wrap {
        position: absolute;
        top: 20px;
        left: 60px;
        right: 60px;
        z-index: 3;
        display: flex;
        // align-items: center;
        gap: 20px;

        .car_type_tabs {
            background-color: #fff;
            border-radius: 35px;
            display: flex;
            gap: 15px;
            padding: 8px 11px;

            .car_type_tab {
                padding: 10px 16px;
                border-radius: 20px;
                cursor: pointer;

                & h4 {
                    font-size: 15px;
                    font-weight: 400;
                    white-space: nowrap;
                }
            }

            .active_car_tab {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .car_find_input_wrap {
        width: 100%;
        border-radius: 35px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;

        & input {
            width: 75%;
            padding: 0;
            outline: 0;
            border: 0;
            background: 0;
            font-size: 18px;
        }

        & button {
            border-radius: 25px;
            background-color: #000;
            color: #fff;
            padding: 8px 20px;
            display: flex;
            gap: 5px;
            align-items: center;
            border: 0;
            height: 100%;
            transition: .3s ease;


            &:hover {
                scale: 1.05;
            }
        }
    }

    .swiper_main {
        height: 650px;
        width: 100%;
        border-radius: 40px;

        .swiper-slide_main {
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            color: #000;
            scale: 0.7;
        }

        .swiper-button-next {
            position: absolute;
            top: auto;
            right: 10px;
            bottom: 20px;
        }

        .swiper-button-prev {
            position: absolute;
            top: auto;
            right: 80px;
            bottom: 20px;
            left: auto;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
        }

        .swiper-pagination-bullet {
            border: 2px solid #fff;
        }
    }
}

.spec_offer_section {
    margin-top: 70px;
    display: flex;
    gap: 20px;


    .offer_title {
        // overflow: hidden;
        width: 30%;
        & h2 {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 14px;
        }

        & p {
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 13px;
        }

        .offer_btns {
            display: flex;
            gap: 10px;

            .open_catalog_btn {
                border-radius: 30px;
                border: 0;
                font-size: 14px;
                font-weight: 500;
                padding: 14px 30px;
                background: linear-gradient(90deg, #121212 0%, #282829 100%);
                color: #fff;
                width: 100%;
                white-space: nowrap;
            }

            .to_search_btn {
                background: 0;
                border: 0;
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                padding: 14px 30px;
            }
        }
    }

    .spec_offer {
        width: 100%;
        display: flex;
        gap: 25px;
        overflow-x: scroll;

        .car_card {
            padding: 50px 20px 40px 20px;
            border: 1px solid #A1A1A1;
            border-radius: 22px;

            .card_swiper {
                width: 300px;
                height: 200px;
                margin-bottom: 35px;

                .card_slider {
                    width: 100%;
                    height: 100%;
                    & img {
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .gas_info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .acceleration,
                .expenses {
                    display: flex;
                    gap: 5px;
                    margin-bottom: 12px;
                }
            }

            .car_card_name {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
                color: #474747;

            }

            .car_card_type {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
                color: #474747;
            }

            .car_card_price_month {
                font-size: 20px;
                font-weight: 600;

                color: #474747;
                margin-bottom: 17px;
            }

            .car_card_btns {
                display: flex;
                
                .rent_btn {
                    border-radius: 30px;
                    border: 0;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 14px 30px;
                    background: linear-gradient(90deg, #121212 0%, #282829 100%);
                    color: #fff;
                    width: 100%;
                    white-space: nowrap;
                }
    
                .car_card_show_more {
                    background: 0;
                    border: 0;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 14px 30px;
                }
            }
        }
    }

    .spec_offer::-webkit-scrollbar {
        display: none;
    }
}

.container {
    margin-top: 74px !important;
    margin-bottom: 74px !important;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    border: 1px solid rgba(161, 161, 161, 1);
    opacity: 0px;
    box-shadow: 0px 0px 26.1px 0px rgba(0, 30, 33, 0.2);




    .box_top {
        gap: 30%;
        width: 100%;

        display: flex;

        .p {
            color: rgba(66, 66, 66, 1);

        }

        .box_l{
            padding-left: 60px;
            padding-top: 20px;
            font-family: Suisse Intl;
font-size: 24px;
font-weight: 400;
line-height: 27.79px;
text-align: left;



        }
        .box_r{
            padding-top: 20px;

font-size: 22px;
font-weight: 400;

.p {
    color: rgba(66, 66, 66, 1);

    margin-top: 20px;

}




        }
    }



    .box_bottom {


        width: 100%;

        .hr {
           margin: 0 auto;
            margin-top: 40px;
            width: 90%;
    height: 0px;
    top: 2059px;
    left: 58px;
    gap: 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid rgba(128, 128, 128, 1)
        }

        .sviper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 90%;
            margin-top: 50px;
            padding-bottom: 100px;
            width: 100%;
            padding-left: 60px;


        }

        .p {
            color: rgba(66, 66, 66, 1);
            padding-top: 20px;

        }


        .hfe{
            align-items: center;
            text-align: center;
            background: rgba(71, 71, 71, 1);
            width: 50px;
            height: 20px;
            border-radius:117.76px;
            color: white;

        }


    }

}

.profitable {
    .profitable__content {
      margin-top: 32px;
  
      .profitable__top {
        display: flex;
        justify-content: space-between;
  
        p {
          font-size: 24px;
          font-weight: 400;
          color: #474747;
        }
        .center {
          h1 {
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 48px;
          }
          p {
            font-size: 16px;
            color: #474747;
          }
        }
        .right {
          & button:nth-last-child(1) {
            background-color: white;
            color: black;
          }
          button {
            padding: 14px 30px;
            background-color: black;
            color: white;
            font-size: 14px;
            font-weight: 400;
            border-radius: 50px;
            border: none;
            transition: 0.3s ease;
          }
          .black_btn:hover {
            background-color: #474747;
            scale: 1.05;
          }
        }
      }
  
      .profitable_center {
        width: 100%;
        margin-top: 87px;
        display: flex;
        justify-content: left;
      }
      .profitable_list {
        display: flex;
        justify-content: space-between;
  
        gap: 57px;
        .item {
          display: flex;
          gap: 26px;
          margin-bottom: 60px;
        }
        .circle {
          padding-left: 26px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: black;
        }
      }
      .profitable__car {
        position: absolute;
        right: 0;
        z-index: -100;
      }
    }
    .line {
      margin: 0 auto;
      width: 95%;
      background-color: #808080;
      height: 3px;
      margin-top: 113px;
      margin-bottom: 43px;
    }
  
    .accordeonwrap {
      display: flex;
      justify-content: space-between;
    
      
      
  
        
        
        }
        
   
        
        .accordion {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 60%; 
          border: 1px solid #A1A1A1;
          border-radius: 11px;
        }
        
        .accordion .accordion-item {
          background-color: var(--background-color);
          border: 1px solid var(--border-color);
          border-radius: 5px;
        }
        
        .accordion .accordion-item .accordion-item-description-wrapper hr {
          border: none;
          border-top: 1px solid var(--border-color);
          visibility: visible;
        }
        
        .accordion .accordion-item.open .accordion-item-description-wrapper hr {
          visibility: visible;
        }
        
        .accordion .accordion-item .accordion-item-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px ;
          cursor: pointer;
        }
        
        .accordion .accordion-item .accordion-item-header .accordion-item-header-title {
      font-weight: 600;
      font-size: 24px;
      color: #474747;
        }
        
        .accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
          transition: var(--transition);
        }
        
        .accordion
          .accordion-item.open
          .accordion-item-header
          .accordion-item-header-icon {
          transform: rotate(-180deg);
          transition: 1s ease;
         
        }
      svg{
        scale: 2.0;
      }
        
        .accordion .accordion-item .accordion-item-description-wrapper {
          display: grid;
          grid-template-rows: 0fr;
          overflow: hidden;
          transition: 0.3s ease;
        }
        
        .accordion .accordion-item.open .accordion-item-description-wrapper {
          grid-template-rows: 1fr;
        }
        
        .accordion
          .accordion-item
          .accordion-item-description-wrapper
          .accordion-item-description {
          min-height: 0;
        }
        
        .accordion
          .accordion-item
          .accordion-item-description-wrapper
          .accordion-item-description
          p {
  font-size: 16px;
  padding:0 15px 10px;
        }
      
        
  
    }
  
  .direction{
    display: flex;
    justify-content: space-between;
    gap: 129px;
  }

  footer {
    margin-top: 110px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    // max-width: 1600px;
    margin: 0 auto;

    .footer-top {
        width: 100%;
        height: 130px;
        background: #474747;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 60px;
        border-radius: 30px 30px 0px 0px;

        span {
            font-size: 48px;
            font-weight: 600;
            background: linear-gradient(to right, #FFFFFF, #acacac);
            background-clip: text;
            color: transparent;
        }


        .download-place {
            display: flex;
            gap: 20px;

            img {
                width: 260px;
                height: 75px;
                cursor: pointer;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 650px;
        width: 100%;
        padding-inline: 60px;

        .footer-bottom-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 50%;
            gap: 100px;

            span {
                font-size: 24px;
                font-weight: 400;
            }

            .become-partner {
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 430px;
                    height: 284px;
                }

                button {
                    width: 430px;
                    height: 70px;
                    border-radius: 100px;
                    background: none;
                    border: 3px solid #474747;
                    font-size: 24px;
                    font-weight: 400;
                    transition: all 0.2s ease;

                    &:hover {
                        transform: scale(1.05);
                        background: #474747;
                        color: #ffffff;
                    }

                    &:active {
                        transform: scale(1.00);
                    }
                }
            }
        }

        .footer-bottom-right {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            #application {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    font-size: 48px;
                    font-weight: 600;
                }

                label {
                    font-size: 14px;
                    color: #979797;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    input {
                        width: 540px;
                        height: 48px;
                        border-radius: 10px;
                        border: 1px solid #A1A1A1;
                        padding-inline: 20px;
                        background: #F3F3F3;

                        &::placeholder {
                            color: #A1A1A1;
                        }
                    }
                }

                .application-submit {
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    margin-bottom: 65px;

                    button {
                        height: 40px;
                        width: 190px;
                        border-radius: 65px;
                        border: none;
                        background: #474747;
                        color: #ffffff;
                        font-size: 16px;
                        transition: all 0.2s ease;
                        border: 2px solid #474747;


                        &:hover {
                            transform: scale(1.05);
                            background: #ffffff;
                            color: #474747;
                        }
    
                        &:active {
                            transform: scale(1.00);
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            nav {
                display: flex;
                flex-direction: row;
                gap: 90px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    span {
                        color: #474747;
                        font-size: 36px;
                        font-weight: 600;
                    }

                    a {
                        text-decoration: none;
                        color: #474747;
                        font-size: 24px;
                        font-weight: 500;
                        transition: all 0.2s ease;

                        &:hover {
                            text-decoration: underline;
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}

  




